.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  height: 100vh;
}

.container > :first-child {
  background-color: var(--primary);
  color: var(--secondary);
}

.container > :last-child {
  background-color: var(--secondary);
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
